@tailwid base;
@tailwind components;
@tailwind utilities;

/* font */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;500;700;900&display=swap');

:root{
  --primary-color:  #D6D6D6;
  --secondary-color: #949494;
  /* --gradient : linear-gradient(79.63deg, #2F2A7B -11.35%, #39B54A 112.49%); */
  --background-color : #1E1E1E;
  --gradient: linear-gradient(85.67deg, #262262 -7.32%, #39B54A 107.02%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(255, 255, 255,0.5); */

  font-family: 'epilogue', sans-serif;

  /* hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
}
/* hide scrollbar */
*::-webkit-scrollbar {
  display: none;
}
body{
  background: var(--background-color);
  overflow-x: hidden;
}

/* logo animation css */
#svg{
  stroke: var(--primary-color) !important;
  width: 100px;
  cursor: pointer;
}
#pathsvg {
  stroke-dasharray: 2170;
  stroke-dashoffset: 2170;
  animation: dash 2.3s ease forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#svg-gradient {
  opacity: 0.0;
  display: inline-block;
  transition: opacity .4s ease;
}
#svg-gradient:hover {
  opacity: 1;
}

/* home grid */
.home-container {  
  display: grid;
  grid-template-columns: 0.23fr 0.9fr 1fr;
  grid-template-rows: 0.6fr 1fr 0.8fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    ". . ."
    ". home-content home-model"
    ". home-footer home-footer";

  justify-items: start;
  align-items: center;
}
.home-content { grid-area: home-content; }
.home-model { grid-area: home-model; }
.home-footer { grid-area: home-footer; }

/* progress bar */
progress{
  z-index: 10000 !important;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: var(--gradient);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: var(--gradient);
  background-attachment: fixed;
}
.back {
  background-image: url('https://images.unsplash.com/photo-1494621930069-4fd4b2e24a11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80');
}