.black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  /* width: 100vw; */
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--background-color);
}


.text-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  text-align: right;
  height: 100%;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  background-color: var(--background-color);
  
  transform:translateY(100%);
  padding: 2vw;
  opacity: 0;
}

.panel-text.blue-text {
  color : #26289d;
}

.panel-text.red-text {
  color: #338D3F;
}

.panel-text.purple-text {
  background: linear-gradient(105deg, #2f2a7b 6.24%, #39b54a 91.17%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}






.p-wrap {
  position: relative;
  overflow: hidden;
  width: 45vw;
  height: 32vw;
}

.ppanel {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 35vw;
  height: 32vw;
  /* background-image: url("../images/5ed12171d9d512cb2feead83_5.jpg"); */
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

  border-radius: 15px;
}

.ppanel p {
  margin: 4vw;
}

.ppanel._2 {
  z-index: 1;
  /* background-image: url("../images/5f5a5b3515c4dd0c2c455925_110642301_938622823267359_7859124022958180678_n201.jpg"); */
}

.ppanel.blue {
  z-index: auto;
  background: linear-gradient(221deg, #545185 4.24%, #00026d 93.17%);
}

.ppanel.red {
  z-index: auto;
  background: linear-gradient(225deg, #44764a 55.17%, #6bbc7a 94.17%);
  /* background-image: none; */
}

.ppanel.purple {
  z-index: auto;
  background: linear-gradient(19deg, #262262 40.24%, #52af5d 118.17%, #48AF46 104.17%);
  /* background-image: none; */
}
