
#gallery li {
  flex-shrink: 0;
  width: clamp(500px, 60vw, 800px);
  padding-right: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik+Bubbles&display=swap');
/* font-family: 'Monoton', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Bubbles', cursive; */
.wrapper {
  display: flex;
  -webkit-text-stroke: 0.5px var(--secondary-color);
  color: transparent;
  font-weight: 400 !important;
  /* font-size: 1.5rem !important; */
  font-family: 'Monoton', cursive;
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
}

.stroke{
  -webkit-text-stroke: 0.5px var(--secondary-color);
  color: transparent;
  font-family: 'Rubik Bubbles', cursive;
}