@tailwid base;
@tailwind components;
@tailwind utilities;

/* font */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;500;700;900&display=swap');

:root{
  --primary-color:  #D6D6D6;
  --secondary-color: #949494;
  --gradient : linear-gradient(79.63deg, #2F2A7B -11.35%, #39B54A 112.49%);
  --background-color : #1E1E1E;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'epilogue', sans-serif;

  /* hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
}
/* hide scrollbar */
*::-webkit-scrollbar {
  display: none;
}
body{
  background: var(--background-color);

  /* horizontal scroll */
  overflow-x: hidden;
}

/* logo animation css */
#svg{
  stroke: var(--primary-color) !important;
  width: 100px;
  cursor: pointer;
}
#pathsvg {
  stroke-dasharray: 2170;
  stroke-dashoffset: 2170;
  animation: dash 2.3s ease forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#svg-gradient {
  opacity: 0.0;
  display: inline-block;
  transition: opacity .4s ease;
}
#svg-gradient:hover {
  opacity: 1;
}