/* @tailwid base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;500;700;900&display=swap');

:root{
    --primary-color:  #D6D6D6;
    --secondary-color: #949494;
    --gradient : linear-gradient(79.63deg, #2F2A7B -11.35%, #39B54A 112.49%);
}

/* font */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'epilogue', sans-serif;
}
body{
    background: #292929;
    mix-blend-mode: hard-light;

    /* important for horizontal scroll don't remove */
    overflow-x: hidden;
}

/* horizontal scroll */
.navbar{
    position: fixed !important;
}
.full-screen {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
}
#panels{
    overflow-x: hidden;
}
#panels-container {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
#panels-container .panel {
    width: 100%;
    height: 100vw;
    overflow: hidden !important;
}

/* logo animation css */
#svg{
    stroke: white !important;
    width: 100px;
    cursor: pointer;
  }
  #pathsvg {
    stroke-dasharray: 2170;
    stroke-dashoffset: 2170;
    animation: dash 2.3s ease forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  #svg-gradient {
    opacity: 0.0;
    display: inline-block;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
  }
  #svg-gradient:hover {
  opacity: 1.0;
  }